android {
    signingConfigs {
        release {
            storeFile rootProject.file("atlasappwindow-release.jks")
            storePassword ""
            keyAlias ""
            keyPassword ""
        }
    }

    buildTypes {
        release {
            signingConfig signingConfigs.release
        }
    }
}
